.route-ajax-comments-form{
  width:100%;
  margin:2px;
  padding:5px;
  background-color: #EFEFEF;
  float:none;
  overflow:hidden;
}

.add-comment-last-message-error{
  color: red;
}

.add-comment-last-message-success{
  color: green;
}

.route-ajax-comments-conversation{
  width:100%;
}

.route-ajax-comments-comment{
  width:100%;
  background-color: #EFEFEF;
  float:none;
  overflow:hidden;
  padding:5px;
  margin-bottom:5px;
  display: inline-block;
}

.route-ajax-comments-comment-picture{
  display: inline-block;
  vertical-align: middle;
  margin:0 10px 0 0;
}

.route-ajax-comments-comment-body{
  display: inline-block;
  vertical-align: middle;
}

.route-ajax-comments-comment-meta{
  display:block;
  width:100%;
  margin-bottom:2px;
  font-size: small;
}