{{ attach_library('route_ajax_comments/ajax_comments') }}

<div id="route-ajax-comments-conversation-wrapper" class="route-ajax-comments-conversation">
  {{ content.conversation }}
</div>

<div id="route-ajax-comments-form-wrapper" class="route-ajax-comments-form">
  {{ commentsForm }}
</div>
