{#
/**
 * @file
 * Default conversation page template.
 *
 * Available variables:
 * - comments: The amount of route comments that will be shown for this request.
 *
 *   route comment full entity is available under comment.route_comment
 *
 *   comment owner variable is defined under comment.user (is you use comment for comments loop).
 *   You can print variables from entire user entity like : {{ comment.owner.name.0.value  }}
 *
 *   Other available variables suposing you use comment as comments loop are:
 *   comment.created : Contains timestamp where comment was created
 *   comment.picture_url : Contains url for compact format picture.
 *   comment.comment_body : It's the comment body
 *
 *   I've made a basic usage template, it's recommended to override this template in your theme with your prefered customizations.
 *
 * @ingroup themeable
 */
#}

<div id="conversation-page-{{ page }}">
{% for comment in comments %}
  <div id="route-ajax-comments-comment-wrapper" class="route-ajax-comments-comment">
    
    <div class="route-ajax-comments-comment-meta">
      {{ comment.created_time_ago }}
    </div>
    
    {% if comment.picture_url is defined %}
      <div class="route-ajax-comments-comment-picture">
        <img src="{{ comment.picture_url }}" class="route-ajax-comments-comment-picture">
      </div>
    {% endif %}

    <div class="route-ajax-comments-comment-body">
      {{ comment.comment_body }}
    </div>

  </div>
{% endfor %}
</div>